

.UnfollowSearch{
  padding-bottom: 30px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  margin: 1em 50px 10px;
  text-align: center;
  padding-top: 15px;
}
.ToggleContainer {
  display: inline-flex;
  padding-left: 24px;
  padding-top: 20px;
}
.Header {
  text-align: center;
  h1 {
    color: black;
    font-weight: 100;
    display: inline;
  }
}