

.TaskActions{
  width: 110px;
  height: auto;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  left: initial;
  right: 17.5%;
  margin-top: -10px;
  background-color: white;
  box-shadow: 1px 6px 25px -4px rgba(0, 0, 0, 0.75);
  p {
    transition: all .2s ease-in-out;
    float: left;
    margin: 5px 5px 5px 12px;
    font-weight: 200;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      i {
        opacity: 1;
      }
    }
    span {
      vertical-align: 7px;
      padding-left: 4px;
    }
    i {
      color: black;
      margin-left: 0;
      opacity: 0.7;
      &:hover {
        transform: none;
        transition: none;
      }
    }
  }

}