

.PaymentInfo {
  margin-left: 30px;
  border: 1px dotted #ccc;
  text-align: center;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 5px 5px 6px -4px rgba(0, 0, 0, 0.75);;

}
.Time {
  font-weight: 200;
  width: 300px;
  time {
    font-weight: 100;
  }
}
.Tasks {
  font-weight: 200;
  width: 240px;
  a {
    font-weight: 200;
  }
}